<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adrianseraspi.gitnux">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GitNuxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.login.LoginActivity">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="gitnux" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NavDrawer" />
        <activity
            android:name=".ui.overview.OverviewActivity"
            android:label="@string/overview"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.listrepo.ListRepositoryActivity"
            android:label="@string/repositories"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.liststarred.ListStarredActivity"
            android:label="@string/stars"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.listpeople.ListPeopleActivity"
            android:label="@string/people"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity android:name=".ui.repo.RepositoryActivity">
        </activity>

        <activity android:name=".ui.codeviewer.CodeViewerActivity" />
        <activity android:name=".ui.about.GitNuxPreferenceActivity"
            android:theme="@style/SettingsTheme"
            android:parentActivityName=".ui.home.HomeActivity"/>

    </application>

</manifest>